<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 万万没想到社区
万万没想到-万达人社区是为万达信息的全体老少爷们打造的**非官方**学习交流、分享、吐槽社区，致力于分享新知识、新技术、新见解、新方法所有与工作学习相关的内容，传播各种好吃的、好玩的、好用的，怒找小伙伴组团学习、dota、lol、爬山、逛街、看电影所有和生活挂钩的信息。


社区目前由 [@admin](http://xxxxxxxxxx/user/admin) 在维护，有问题请[点我点我](https://github.com/wanghaisheng/wondersinformaticsclub)提问。

### 移动客户端

客户端后续计划基于CNode的客户端进行定制(TODO)


*/
        })) %>
      </div>
    </div>
  </div>
</div>
