<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>产品墙</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
## 各个团队、个人的产品展示平台
如果你们在项目开发、学习过程中形成一些有意思的新产品、新方法，这里是你们展示自我、展示团队的最佳舞台
### 电子政务


电子政务事业部智慧科技行业团队长期从事政府专项资金系统的建设，经过8年积累，目前已经形成一套相对成熟的产品体系，同时奖励申报、专家审核等模块可单独拆开进行系统对接和二次开发，有需要事业部及时联系和沟通，我们将竭诚为您服务！
联系方式：
联系人：
案例：
1：张江示范区专项资金信息化管理系统
2：上海市文化创意产业专项资金管理系统（接文化事业部外包）
3：上海市徐汇区科技项目专项资金管理系统
4：上海是闵行区科技项目专项资金管理系统
5：上海市新闻出版局专项资金管理系统（接政府服务事业部外包）
6：上海市科技成果奖励申报审核系统
7：国土资源部科技成果奖励申报审核系统（接政府服务事业部外包）
8：普陀区卫生专项资金管理系统（正在和卫生事业部接洽外包事宜）
9：省科技厅科技项目专项资金管理系统（正在售前）
10：省发改委项目专项资金管理系统（正在售前）
11：自贸区项目专项资金管理系统（正在售前）





*/
        })) %>
      </div>
    </div>
  </div>
</div>